<header class="header">
  <div class="container">
    <div class="nav-wraper">
      <a href="" class="brand-logo">
        <svg class="" width="24" height="24">
          <use href="./images/header-imgs/header-sprite.svg#icon-logo"></use>
        </svg>
        <svg class="" width="77" height="13">
          <use
            href="./images/header-imgs/header-sprite.svg#icon-Bookshelf"
          ></use>
        </svg>
      </a>
      <nav class="nav">
        <a href="./index.html" class="home-link">Home</a>
        <a href="" class="shopping-list-link"
          >Shopping list
          <svg class="" width="20" height="20">
            <use
              href="./images/header-imgs/header-sprite.svg#icon-uil_cart"
            ></use>
          </svg>
        </a>
      </nav>
    </div>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <button
      type="button"
      class="mobile-menu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        width="28"
        height="28"
        class="mobile-svg"
        aria-label="mobile menu switcher"
      >
        <use
          class="icon-menu"
          href="./images/header-imgs/header-sprite.svg#icon-align-left"
        ></use>
        <use
          class="icon-cros"
          href="./images/header-imgs/header-sprite.svg#icon-x-close"
        ></use>
      </svg>
    </button>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="modal-icon" width="8" height="8">
      <use href=""></use>
    </svg>
  </button>
</div>

<!-- asdadasdasd -->
