<h2 class="main-headline">
  Best Sellers <span class="headline-books">Books</span>
</h2>

<ul class="ul-global">
  <ul class="ul-child">
    <button type="button" class="see-more">see more</button>
  </ul>
  <ul class="ul-child">
    <button type="button" class="see-more">see more</button>
  </ul>
  <ul class="ul-child">
    <button type="button" class="see-more">see more</button>
  </ul>
  <ul class="ul-child">
    <button type="button" class="see-more">see more</button>
  </ul>
  <ul class="ul-child">
    <button type="button" class="see-more">see more</button>
  </ul>
</ul>
