<div class="modal-backdrop"></div>
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-img">
    <div class="img-thumb">
      <img
        src="./images/header-imgs/Ellipse 3-min.jpg"
        alt="Person avatar"
        class="avatar-img"
      />
    </div>
    <span class="avatar-text">Stephen</span>  
  </div>
  <div class="menu-link">
    <a href="./index.html" class=""
    ><span class="current-page home-link-back">Home</span></a
  >
  <a href="./shopping-list.html" class=""
    ><span class="shpping-link-back">
      Shopping list
      <svg class="shoper-svg" width="20" height="20">
        <use href="./images/header-imgs/header-sprite.svg#icon-uil_cart"></use>
      </svg>
    </span>
  </a>
</div>
  

  <button class="sign-up">
    Log out
    <svg
      class="icon-sign-up"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
    >
      <path
        d="M3.3335 10H16.6668M16.6668 10L11.6668 5M16.6668 10L11.6668 15"
        stroke="#EAC645"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <div class="menu-img"></div>
  <!-- <img
    class="mobile-grup"
    src="./images/defaults/mobile-grup.png"
    alt="Mobile-grup"
  /> -->
</div>
