<div class="menu-container js-menu-container" id="mobile-menu">
    <!-- <button class="mobile-btn menu-toggle js-close-menu">
      <svg class="modal-icon" width="8" height="8">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button> -->
    <button class="menu-sign-up">
        Sign up
        <svg class="modal-icon" width="8" height="8">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
    

    <ul class="mobile-menu list">
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>
      <li class="mobile-menu-item">
        <img src="" alt="">
      </li>      
    </ul>
    
   
  </div>