<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-person-logo">
    <div class="img-thumb">
      <img
        src="./images/header-imgs/Ellipse 3-min.jpg"
        alt="Person avatar"
        class="avatar-img"
      />
    </div>
    <span class="mobile-avatar-text">Hello</span>
  </div>
  <nav class="mobile-nav">
    <a href="./index.html" class="mobile-home-link mobile-current">Home</a>
    <a href="./shopping-list.html" class="mobile-shopping-list-link"
      ><span class="shpping-link-back">
        Shopping list
        <svg class="svg-dark shoper-svg" width="20" height="20">
          <use
            href="./images/header-imgs/header-sprite.svg#icon-uil_cart"
          ></use>
        </svg>
      </span>
    </a>
  </nav>
  <img
    class="mobile-grup"
    src="./images/defaults/mobile-grup.png"
    alt="Mobile-grup"
  />
</div>
