<button type="button" class="load-more">Load more</button>
<div class="backdrop">
  <div class="modal">
    <button class="modal-btn-close" type="button" data-modal-close>
      <svg class="modal-icon" width="28" height="28">
        <use href="./images/header-imgs/header-sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <li class="info-book-card"></li>
    <button class="list-btn" type="button">Add to shopping list</button>
    <!-- <button class="list-btn-remove" type="button" hidden>
      Remove from the shopping list
    </button> -->
    <p class="congratulations" hidden>
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
