<div class="support-box">
  <h2 class="support-title">
    <p class="support-title-text">Support Ukraine</p>
    <svg class="support-trident-icon" width="32" height="32">
      <use href="./images/header-imgs/header-sprite.svg#icon-trident"></use>
    </svg>
  </h2>
  <div class="charity-wrapper">
    <div class="charity-box"></div>
  </div>
  <button type="button" class="button-slide">
    <svg class="icon-slide" width="32" height="32">
      <use href="./images/header-imgs/header-sprite.svg#scroll-down"></use>
    </svg>
  </button>
</div>
