.book-card {
  width: 335px;
  height: 485px;
  margin-bottom: 14px;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .book-card {
    width: 218px;
    height: 316px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card {
    width: 180px;
    height: 256px;
  }
}
.book-card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--black);
  font-size: 16px;
  font-weight: 700;

  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  margin-bottom: 4px;
}
.book-card-text {
  color: #b4afaf;
  font-size: 12px;
  font-weight: 400;

  line-height: 14px;
  letter-spacing: -0.48px;
  font-style: italic;
}

.book-card-main-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .book-card-main-list {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 40px 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card-main-list {
    gap: 40px 24px;
  }
}

.book-card-item {
  width: 335px;
  max-height: 535px;
}
@media only screen and (min-width: 768px) {
  .book-card-item {
    width: 218px;
    max-height: 366px;
  }
}
@media only screen and (min-width: 1440px) {
  .book-card-item {
    width: 180px;
    max-height: 306px;
  }
}
