@media screen and (min-width: 768px) {
    .category-box{
        width: 100%;
        max-height: 228px;
    }
    .category-list::-webkit-scrollbar{
        max-height: 114px;
    }
    .category-list{
        max-height: 228px;
    }
}
.category-box{
    width: 337px;
    /* height: 472px; */
    margin-left: 24px;
    margin-top: 40px;
}
.category-item{
    color: rgba(17, 17, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    padding-bottom: 32px;
    
}
.category-item:is(:hover, :focus){
    color: var(--violet);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;

}
.category-list{
    max-height: 472px;
    overflow-y: scroll;
}
.category-list::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
    border-radius: 12px;
    height: 167px;
}
.category-list::-webkit-scrollbar-thumb{
    background:#E0E0E0;
    border-radius: 12px;
}
