.main-headline {
  color: var(--black);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1.28px;
  line-height: 38px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-headline {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}

.headline-books {
  color: var(--violet);
}

.ul-global {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.li-in-global {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ul-category {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .ul-category {
    gap: 24px;
  }
}

.book {
  min-width: 335px;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .book {
    max-width: 218px;
    min-width: 218px;
  }
}

@media screen and (min-width: 1440px) {
  .book {
    max-width: 180px;
    min-width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .book:nth-child(n + 2) {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .book:nth-child(n + 4) {
    display: none;
  }
}

.box {
  width: 100%;
  max-width: 335px;
  border-radius: 8px;
  overflow: hidden;
}

.img-book {
  margin: 0;
  width: 100%;
  min-height: 485px;
  max-height: 485px;
}

@media screen and (min-width: 768px) {
  .img-book {
    min-height: 316px;
    max-height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .img-book {
    min-height: 256px;
    max-height: 256px;
  }
}

.categories {
  color: #b4afaf;

  margin-right: auto;
  margin-bottom: 18px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .categories {
    line-height: 24px;
  }
}

.title-main {
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;

  margin-bottom: 4px;
  margin-top: 14px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author-main {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;

  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.see-more {
  display: inline-flex;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--violet);
  background-color: var(--white);

  margin-left: auto;
  margin-top: 8px;

  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .see-more {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .see-more {
    margin-top: 32px;
  }
}

.main-book-wraper {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .main-book-wraper {
    max-width: 704px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .main-book-wraper {
    max-width: 996px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
}
