
.menu-container {
  position: fixed;
  /* top: 0; */
  left: 0;  
  width: 100vw;
  height: 100vh;  
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.sign-up {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  padding: 15px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #4f2ee8;
}

.icon-sign-up {
  margin-left: 90px;
}


.mobile-grup {
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0; 
}