body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 335px;
  padding-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  border: 2px solid #111;
  background: #fff;
}
.modal-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  stroke: #111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -45%);
}

.modal-icon:hover,
.modal-icon:focus {
  stroke: var(--violet);
}

.image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
  padding-bottom: 14px;
}
.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.64px;
  padding-bottom: 4px;
}
.info-book-card {
  height: 636px;
  padding: 40px 24px 0 24px;
  list-style: none;
  display: block;
  gap: 24px;
}
.title {
  font-family: DM Sans;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  color: #111;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.96px;

  padding-bottom: 8px;
}
.author {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.48px;
  padding-bottom: 18px;
  font-family: DM Sans;
  font-style: italic;
  color: #b4afaf;
  font-weight: 400;
}
.description {
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: -0.56px;
  font-family: DM Sans;
  font-style: normal;
}
.list-links {
  padding-top: 16px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.list-btn {
  padding: 14px 23px 14px 23px;
  height: 46px;
  display: flex;
  padding: 14px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--violet);
  background-color: transparent;
  cursor: pointer;
}
.list-btn:hover,
.list-btn:focus {
  background-color: var(--violet);
  color: #fff;
}
.list-btn-remove {
  text-transform: uppercase;
  font-style: normal;
  font-family: DM Sans;
  width: 279px;
  height: 46px;
  display: flex;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  border: 2px solid var(--violet);
  background-color: transparent;
  cursor: pointer;
}
.congratulations {
  width: 242px;

  padding-top: 8px;

  text-align: center;
  color: rgba(17, 17, 17, 0.5);

  margin-left: auto;
  margin-right: auto;
  font-size: 12px;

  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

.item-book {
  filter: grayscale(100%);
}
.item-book:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 579px;
  }
  .modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 28px;
    width: 28px;
  }
  .image {
    width: 192px;
    height: 281px;
    border-radius: 8px;
  }
  .info-book-card {
    height: 281px;
    padding: 40px;
    list-style: none;
    display: flex;
  }

  .author {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .description {
    font-size: 14px;
    line-height: 1.3;
  }

  .list-links {
    padding-top: 20px;
  }

  .list-btn {
    padding: 20px 150px 20px 150px;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: -0.18px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 499px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid var(--violet);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-btn:hover,
  .list-btn:focus {
    background-color: var(--violet);
    color: #fff;
  }

  .list-btn-remove {
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.18px;
    padding: 20px;
  }

  .congratulations {
    width: 324px;
  }
}
