/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 0;
  font-family: 'DM Sans', sans-serif;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1392px;
  }
}
