.shop {
  padding-top: 40px;
}
.shop-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.shop-block {
  position: relative;
}
.shop-container .support-box {
  display: none;
}
.title-h1 {
  margin-bottom: 40px;
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -1.28px;
}
.title-h1 span {
  color: #4f2ee8;
}
.book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-item {
  position: relative;
  display: flex;
  width: 331px;
  height: 166px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
}
.book-data {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 14px;

  flex-shrink: 0;
}
.book-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
}
.book-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.book-info {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.book-name {
  width: 144px;
  height: 18px;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-category {
  width: 165px;
  height: 14px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.36px;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.book-desc {
  width: 193px;
  height: 56px;
  margin-bottom: 30px;
  color: #111;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}
.author-shoplinks {
  display: flex;
  /* gap: 42px; */
  align-items: center;
  padding: 0;
  margin-right: 0;
}
.book-author {
  width: 100px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shop-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
}
.item-book:nth-child(1) img {
  width: 32px;
  height: 11px;
}
.item-book:nth-child(2) img {
  width: 16px;
  height: 16px;
}
.item-book:nth-child(3) img {
  width: 16px;
  height: 16px;
}

.item-book img {
  filter: grayscale(100%);
  cursor: pointer;
}
.item-book img:hover,
.item-book img:focus {
  mix-blend-mode: luminosity;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.btn-delete {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  border: none;
  background-color: #4f2ee8;
}
.icon-delete {
  width: 16px;
  height: 16px;
}
.empty {
  position: absolute;
  top: 400%;
  left: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.empty p {
  width: 244px;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
.empty img {
  width: 265px;
  height: 198px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .shop-container {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .book-item {
    width: 276px;
    height: 124px;
    border-radius: 12px;
  }
  .book-data {
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    gap: 10px;

    flex-shrink: 0;
  }
  .book-img {
    width: 80px;
    height: 110px;
    border-radius: 4px;
    background: lightgray 50% / cover no-repeat;
  }
  .book-name {
    width: 144px;
    height: 16px;
    font-size: 12px;
    line-height: 164x;
    margin-bottom: 2px;
  }
  .book-category {
    width: 145px;
    height: 12px;
    font-size: 10px;
    margin-bottom: 4px;
  }
  .book-desc {
    width: 173px;
    height: 44px;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 14px;
  }
  .book-author {
    width: 90px;
    font-size: 8px;
    line-height: 12px;
  }
  .shop-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 0;
  }
  .item-book:nth-child(1) img {
    width: 26px;
    height: 7px;
  }
  .item-book:nth-child(2) img {
    width: 12px;
    height: 12px;
  }
  .item-book:nth-child(3) img {
    width: 12px;
    height: 12px;
  }
  .btn-delete {
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    padding: 5px;
  }
  .icon-delete {
    width: 12px;
    height: 12px;
  }
  .empty {
    left: 74%;
  }
}

@media screen and (min-width: 768px) {
  .title-h1 {
    letter-spacing: -1.92px;
    font-size: 48px;
    line-height: 52px;
  }
  .book-item {
    width: 700px;
    height: 209px;
  }
  .book-data {
    left: 24px;
    top: 24px;
    gap: 24px;
  }
  .book-img {
    width: 116px;
    height: 165px;
  }
  .book-name {
    width: 166px;
    overflow: visible;
    text-overflow: clip;
  }
  .book-category {
    margin-bottom: 8px;
    width: 211px;
    overflow: visible;
    text-overflow: clip;
  }
  .book-desc {
    width: 508px;
    height: 53px;
    margin-bottom: 38px;
  }
  .book-author {
    width: 300px;
  }
  .author-shoplinks {
    width: 520px;
  }
  .author-shoplinks > *:first-child {
    padding-top: 16px;
    align-items: flex-end;
  }
  .shop-links {
    align-items: center;
    gap: 16px;
  }
  .item-book:nth-child(1) img {
    width: 48px;
    height: 15px;
  }
  .item-book:nth-child(2) img {
    width: 28px;
    height: 27px;
  }
  .item-book:nth-child(3) img {
    width: 32px;
    height: 30px;
  }
  .btn-delete {
    width: 34px;
    height: 34px;
    padding: 8px;
    top: 20px;
    right: 24px;
  }
  .icon-delete {
    width: 18px;
    height: 18px;
  }
  .empty {
    top: 400%;
    left: 125%;
  }
  .empty p {
    width: 349px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px; /* 128.571% */
    letter-spacing: -0.36px;
  }
  .empty img {
    width: 322px;
    height: 241px;
  }
}

@media screen and (min-width: 1440px) {
  .book-item {
    width: 992px;
    height: 209px;
  }
  .book-category {
    margin-bottom: 8px;
  }
  .book-desc {
    width: 808px;
    height: 53px;
    margin-bottom: 38px;
  }
  .author-shoplinks {
    width: 808px;
    /* gap: 597px; */
  }
  .shop-container .support-box {
    display: block;
  }
  .empty {
    top: 75%;
    left: 150%;
  }
}
.is-hidden {
  display: none;
}

.not-is-hidden {
  display: flex;
}

.shop .container {
  display: flex;
}
