.shop {
  padding-top: 40px;
}
.title-h1 {
  padding-bottom: 40px;
  color: #111;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 118.75% */
  letter-spacing: -1.28px;
}
.title-h1 span {
  color: #4f2ee8;
}
.book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-item {
  position: relative;
  display: flex;
  width: 335px;
  height: 170px;
  align-items: flex-start;
  gap: 48px;

  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
}
.book-data {
  position: absolute;
  top: 13px;
  left: 13px;
  display: flex;
  gap: 14px;

  flex-shrink: 0;
}
.book-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
}
.book-img img {
  width: 100%;
  height: 100%;
}
.book-info {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.book-name {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.book-category {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.36px;
  margin-bottom: 6px;
}
.book-desc {
  width: 193px;
  height: 57px;
  margin-bottom: 27px;
  color: #111;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}
.author-shoplinks {
  display: flex;
  gap: 42px;
  padding: 0;
  margin-right: 0;
}
.book-author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.48px;
}
.shop-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  padding: 0;
}
.item-book:nth-child(1) img {
  width: 32px;
  height: 11px;
}
.item-book:nth-child(2) img {
  width: 16px;
  height: 16px;
}
.item-book:nth-child(3) img {
  filter: grayscale(100%);
  width: 16px;
  height: 16px;
}

.item-book img {
  filter: grayscale(100%);
  cursor: pointer;
}
.item-book img:hover,
.item-book img:focus {
  mix-blend-mode: luminosity;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.btn-delete {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  padding: 6px;
  border-radius: 50%;
  border: none;
  background-color: #4f2ee8;
}
.icon-delete {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}
