
.support-box {
    width: 356px;
        height: 474px;
        border-radius: 16px;
            background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4F2EE8 18.03%, #FFF 100%);
            box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
           
           
}

.support-title {
    color: #FFF; 
        display: flex;
        padding-left: 40px;
        padding-top: 26px;
}

.support-title-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.96px;
    margin-right: 12px;
    
}

.list {
    margin-bottom: 20px;
    list-style: none;
}

.charity-box {
margin-left: 40px;
margin-top: 42px;
width: 159px;
    max-height: 292px;
    overflow-y: auto;
    border: 1px solid #ccc;
        
}       

.charity-logo {
    width: 131px;
        height: 32px;
}

.button-slide {
position: relative;
    text-align: center;
        
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
}

.icon-slide {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-36%, -36%);
}