.support-box {
  width: 356px;
  height: 474px;
  border-radius: 16px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

.support-title {
  color: #fff;
  display: flex;
  padding-left: 40px;
  padding-top: 26px;
}

.support-title-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  margin-right: 12px;
}

.list-item-fund {
  
  list-style: none;
  display: flex;
}

.list-item-fund:not(:last-child) {
  margin-bottom: 20px;
  
}

.charity-box {
  width: 159px;
  max-height: 292px;
}

.charity-box-clicked {
    transform: translate(0, -100%);
}

.charity-wrapper {
    margin-left: 40px;
        margin-top: 42px;
    width: 159px;
        max-height: 292px;
        overflow: hidden;
}


.wrap-counter-img {
  display: flex;
  text-align: center;
  align-items: center;
}

.counter {
  margin-right: 16px;
  filter: brightness(0) invert(1);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.56px;
}

.charity-logo {
  max-height: 32px;
  filter: brightness(0) invert(1);
}

.charity-logo:hover {
  filter:none;
}

.button-slide {
  position: relative;
  text-align: center;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 38px;
  height: 38px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24 auto;
}

.icon-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -36%);
}

@media screen and (max-width: 767px) {
  .support-box {
    height: 352px;
    padding-bottom: 20px;
  }

  .charity-box {

    height: 200px;

  }

  .button-slide {
    margin: 16px auto 0;
  }

  .charity-wrapper {

    max-height: 320px;

  }

  .charity-box-clicked {
    transform: translate(0, -110%);
  }
.list-item-fund:not(:last-child) {
  margin-bottom: 12px;
}
}
